[submodule "external/fastpfor"]
	path = external/fastpfor
	url = https://github.com/lemire/FastPFor.git
[submodule "external/zeromq"]
	path = external/zeromq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "external/sdsl-lite/external/googletest"]
	path = external/sdsl-lite/external/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "external/sdsl-lite/external/libdivsufsort"]
	path = external/sdsl-lite/external/libdivsufsort
	url = https://github.com/simongog/libdivsufsort.git
