[submodule "external/fastpfor"]
	path = external/fastpfor
	url = https://github.com/lemire/FastPFor.git
[submodule "external/zeromq"]
	path = external/zeromq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
