{% extends "layout.html" %}
{% block body %}
  <div class="container">

    <form class="form-signin" action="{{ url_for('login') }}" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>
      {% if error %}<p class="text-danger"><strong>Error:</strong> {{ error }}{% endif %}
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus />
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />

      <input type="hidden" name="xsrf_token" value="{{ session['xsrf_token'] }}" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div>
{% endblock %}
