NAME=IDX_NN_QUANTILE_8_8
CSA_TYPE=sdsl::csa_wt<sdsl::wt_huff<sdsl::hyb_vector<>>,8,8, sdsl::text_order_sa_sampling<>, sdsl::text_order_isa_sampling_support<>>
DF_TYPE=surf::df_sada<CSA_TYPE,sdsl::rrr_vector<63>,sdsl::rrr_vector<63>::select_1_type,true,true>
WTD_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
KTWOTREAP_TYPE=sdsl::k2_treap<2,sdsl::rrr_vector<63>>
INDEX_TYPE=surf::idx_nn_quantile<CSA_TYPE, KTWOTREAP_TYPE, 8, 0>
