NAME=IDX_NN_INT
CSA_TYPE=sdsl::csa_sada2<sdsl::hyb_sd_vector<>, 32, 32, sdsl::text_order_sa_sampling<>, sdsl::text_order_isa_sampling_support<>, sdsl::int_alphabet<>>
DF_TYPE=surf::df_sada<CSA_TYPE,sdsl::rrr_vector<63>,sdsl::rrr_vector<63>::select_1_type>
WTD_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
KTWOTREAP_TYPE=sdsl::k2_treap<2,sdsl::rrr_vector<63>>
INDEX_TYPE=surf::idx_nn<CSA_TYPE, KTWOTREAP_TYPE>
