NAME=IDX_NN_QUANTILE_LG_16_16
CSA_TYPE=sdsl::csa_wt<sdsl::wt_huff<sdsl::hyb_vector<>>,16,16, sdsl::text_order_sa_sampling<>, sdsl::text_order_isa_sampling_support<>>
DF_TYPE=surf::df_sada<CSA_TYPE,sdsl::rrr_vector<63>,sdsl::rrr_vector<63>::select_1_type,true,true>
WTD_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
KTWOTREAP_TYPE=sdsl::k2_treap<2,sdsl::rrr_vector<63>>
INDEX_TYPE=surf::idx_nn_quantile<CSA_TYPE, KTWOTREAP_TYPE, 16, 0, sdsl::sd_vector<>, sdsl::sd_vector<>::rank_1_type, sdsl::sd_vector<>::select_1_type, sdsl::rrr_vector<63>, sdsl::rrr_vector<63>::select_0_type, sdsl::rrr_vector<63>::select_1_type, true>
